<div id="search">
  <h1>Preview<strong>Radio</strong></h1>
  <p class="tagline">Full songs? Ain't nobody got time for that.</p>

  <form action="/previews/search" method="POST">
    <input type="text" placeholder="Album you enjoy" name="query" id="query" />
    <input type="submit" id="submit" value="Search" />
  </form>
</div>
