<!DOCTYPE html>
<html>
<head>
  <title>PreviewRadio - Full songs? Ain't nobody got time for that.</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" charset="utf-8">
  <script type="text/javascript" charset="utf-8">PreviewRadio = {}</script>
  <script src="/javascript/zepto.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascript/album_view.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascript/album_player_row.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascript/album_player.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="wrap">
    <%= yield %>
  </div>
</body>
</html>
