<div id="search">
  <h1>Preview<strong>Radio</strong></h1>
  <p class="tagline">Discover albums like:</p>

  <ul id="results">
    <% (doseq [album albums] %>
      <li>
        <a href="/previews/<%= (:id album) %>"><%= (:name album) %></a>
        <span><%= (:artist album) %></span>
      </li>
    <% ) %>
  </ul>
</div>
